
body {
    background-image: url("https://media.giphy.com/media/L9zd6KNzPaVqg/giphy.gif");
    text-align:center;
    }
    
h1 {
    color:gold;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    text-align: center;
    }
    
h2 {
    color:white;
    font-family: 'Kumar One Outline', cursive;
    font-size: 40px;
    text-align: center;
    }
    
h3 {
    color:white;
    font-family: 'Allerta Stencil', sans-serif;
    font-size: 30px;
    text-align: center;
    }
    
.award1{
        color: white;
         font-size: 50px;
         background-color:green;
    font-family: 'Kumar One Outline', cursive;
        }
        
.Award2{
     border: 5px solid red;
    }
    
.award3 {
     border: 10px dotted yellow;
    }
    
.award4 {
    font-style: oblique;
    }
p {
    color:white;
    }
    
img {
    height: 600px;
    width: 600px;
    }